body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
section {
    height: 100vh;
    text-align: center;
}

.dark {
    text-align: left;
    background: #1f1e1e;
    color: white;
    position: relative;
    overflow: hidden;
}

.dark img {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    object-fit: cover;
}
.content {
    padding: 350px;
    position: relative;
    z-index: 1;
}
.content h2 {
    font-size: 5em;
    margin-bottom: 0;
}
.content p {
    font-size: 15px;
}